@import "_colors.scss";
div#menu {
    background-color: $blue;
    height: 70px;
    position: relative;
    

    .logo {
        position: absolute;
        // top: 15px;
        // left: 15px;
        // background-image: url('../img/chores-logo-1.png');
    }

    nav,
    nav ul,
    nav ul li {
        margin: 0;
        padding: 0;
    }


    nav {
        position: absolute;
        top: 35px;
        left: 50%;

        ul {
            list-style-type: none;
            li {
                display: inline-block;

                a {
                    text-decoration: none;
                }
            }
        }
    }
}

div#content {
    padding: 5px;

    #banner {
        display: flex;
        #cta {
            flex-basis: 70%;
        }
        #login-control {
            flex-basis: 30%;
            #provider-form, #client-form {
                display: none;
            }
            button {
                width: 100%;
                background-color: $col-btn-bck;
            }
        }
    }
}
