html, body{
    height: 100%;
    background-color: #cfd0d4;
    div#wrap{
        min-height: 100%;
        position: relative;

        div#menu {
            background-color: $blue;
            height: 70px;
            position: relative;


            .logo {
                position: absolute;
                // top: 15px;
                // left: 15px;
                // background-image: url('../img/chores-logo-1.png');
            }
@import 'nav.scss';
        }

        

        div#content {
            padding: 5px;
            padding-bottom: 100px;
            #banner {
@import "myCarousel.scss";

            }

            .client-promo {
              background-color: grey;
            }
            .provider-promo {
              background-color: pink;
            }
            div.promo {
              text-align: center;
              h1 {
                text-align: center;
              }
              .sell-point  {
                text-align: center;
              }
              a {
                // width: 50%;
                // margin: 0 auto;
              }
            }
        }
    }


}
